@import './style-presets/palette.scss';
@import './style-presets/mixins.scss';

.app {
  width: 100%;
  min-height: 100vh;
  background-color: $color1;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet() {
    padding: 10px 10px 50px 10px;
  }

  @include desktop() {
    padding: 80px 300px;
  }
}