@import '../../style-presets/palette.scss';
@import '../../style-presets/mixins.scss';


.gallery-item {
  padding: 20px;
  width: 33%;

  @media screen and (max-width: 600px) {
    padding:  20px 0;
    width: 80%;
  }

  &__img-cont {
    position: relative;
  }

  & img {
    max-width: 100%;
    border-radius: 10px;
    cursor: zoom-in;
  }

  &__vote-cnt {
    background-color: $color7;
    color: $color3;
    font-size: 1.4rem;
    padding: 10px;
    border: none;
    outline: transparent;
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    left: 20px;

    &:hover {
      background-color: $color1;
      cursor: pointer; 
    }
  }

  &__img-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    & * {
      margin: 0;
    }
  }
}