@import '../../style-presets/palette.scss';
@import '../../style-presets/mixins.scss';

@font-face {
  font-family: 'Raleway';
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Coda';
  src: url("../../assets/fonts/Coda-ExtraBold.ttf");
}

.gallery-item {
  padding:  20px;
  max-width: 30%;

  &__img-cont {
    position: relative;
  }

  & img {
    max-width: 100%;
    border-radius: 10px;
  }

  &__vote-cnt {
    background-color: $color7;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}