@import '../../style-presets/palette.scss';
@import '../../style-presets/mixins.scss';

@font-face {
  font-family: 'Raleway';
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}

.gallery {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway';
  color: $color3;

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__top-three {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__profile {
    width: 100%;
  }
}