@import '../../style-presets/palette.scss';
@import '../../style-presets/mixins.scss';


.gallery-item {
  padding:  20px;
  width: 33%;

  &__img-cont {
    position: relative;
  }

  & img {
    max-width: 100%;
    border-radius: 10px;
  }

  &__vote-cnt {
    background-color: $color7;
    color: $color3;
    font-size: large; 
    padding: 10px;
    border: none;
    outline: transparent;
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    left: 20px;

    &:hover {
      background-color: $color1;
      cursor: pointer; 
    }
  }
}