@import '../../style-presets/palette.scss';
@import '../../style-presets/mixins.scss';

@font-face {
  font-family: 'Raleway';
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Coda';
  src: url("../../assets/fonts/Coda-ExtraBold.ttf");
}

.profile {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
  color: $color3;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Coda';
    color: $color7;
  }

  &__images {
    display: flex;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__gallery-pic {
    padding:  20px 60px;
    max-width: 50%;

    @media screen and (max-width: 600px) {
      padding:  20px 0;
      max-width: 80%;
    }
  }

  &__img-cont {
    position: relative;
  }

  & img {
    max-width: 100%;
    border-radius: 10px;
  }

  &__vote-cnt {
    background-color: $color7;
    font-size: 1.4rem; 
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &__img-title {
    margin: 5px 0;
  }

  &__voted-on {
    padding:  20px 60px;
    max-width: 50%;

    @media screen and (max-width: 600px) {
      padding:  20px 0;
      max-width: 80%;
    }
  }

  &__img-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    & * {
      margin: 0;
    }
  }

  &__vote-on, &__submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:  20px 60px;
    width: 50%;
  }

  &__upload, &__gallery {
    margin-top: 50px;
  }
}